*.json
scratch.py
output.pdf
*.json
*.json
credentials.json
*.json
This PC/jamel's S21/Internal storage/Youtube/ALGS Year 4 Split 2 Pro League  Match Day 4  NA  Groups A & B  Apex Legends.mp4
*.exe
Indicator.spec
build/naomi/naomi.pkg
build/Indicator/Indicator.pkg
Bryant_figures_V6.pptx
*.csv
*.csv
test.html
